<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ботай ЕГЭ</title>
    <meta name="description" content="Botayege - ботай ЕГЭ. Эффективная подготовка к экзаменам. 100 баллов"/>
    <meta name="google-site-verification" content="-XTcvSUdxfXLSColVXeuBq_d_oVfz5wvKU_5s1POjkI"/>
    <link rel='dns-prefetch' href='//gillion.shufflehound.com'/>
    <link rel='dns-prefetch' href='//cdn.gillion.shufflehound.com'/>
    <link rel='dns-prefetch' href='//fonts.googleapis.com'/>
    <link rel='dns-prefetch' href='//s.w.org'/>
    <!--
                <link rel="alternate" type="application/rss+xml" title="Gillion Theme Tech Demo &raquo; Feed" href="https://gillion.shufflehound.com/tech/feed/"/>
    <link rel="alternate" type="application/rss+xml" title="Gillion Theme Tech Demo &raquo; Comments Feed" href="https://gillion.shufflehound.com/tech/comments/feed/"/>

    -->
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.4\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.4\/svg\/",
            "svgExt": ".svg",
            "source": {
                "concatemoji": "https:\/\/gillion.shufflehound.com\/tech\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.7"
            }
        };
        !function (a, b, c) {
            function d(a, b) {
                var c = String.fromCharCode;
                l.clearRect(0, 0, k.width, k.height),
                    l.fillText(c.apply(this, a), 0, 0);
                var d = k.toDataURL();
                l.clearRect(0, 0, k.width, k.height),
                    l.fillText(c.apply(this, b), 0, 0);
                var e = k.toDataURL();
                return d === e
            }

            function e(a) {
                var b;
                if (!l || !l.fillText)
                    return !1;
                switch (l.textBaseline = "top", l.font = "600 32px Arial", a) {
                    case "flag":
                        return !(b = d([
                            55356, 56826, 55356, 56819
                        ], [55356, 56826, 8203, 55356, 56819])) && (b = d([
                            55356,
                            57332,
                            56128,
                            56423,
                            56128,
                            56418,
                            56128,
                            56421,
                            56128,
                            56430,
                            56128,
                            56423,
                            56128,
                            56447
                        ], [
                            55356,
                            57332,
                            8203,
                            56128,
                            56423,
                            8203,
                            56128,
                            56418,
                            8203,
                            56128,
                            56421,
                            8203,
                            56128,
                            56430,
                            8203,
                            56128,
                            56423,
                            8203,
                            56128,
                            56447
                        ]), !b);
                    case "emoji":
                        return b = d([
                            55357, 56692, 8205, 9792, 65039
                        ], [55357, 56692, 8203, 9792, 65039]),
                            !b
                }
                return !1
            }

            function f(a) {
                var c = b.createElement("script");
                c.src = a,
                    c.defer = c.type = "text/javascript",
                    b.getElementsByTagName("head")[0].appendChild(c)
            }

            var g,
                h,
                i,
                j,
                k = b.createElement("canvas"),
                l = k.getContext && k.getContext("2d");
            for (j = Array("flag", "emoji"), c.supports = {
                everything: !0,
                everythingExceptFlag: !0
            }, i = 0; i < j.length; i++)
                c.supports[j[i]] = e(j[i]),
                    c.supports.everything = c.supports.everything && c.supports[j[i]],
                "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]);
            c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag,
                c.DOMReady = !1,
                c.readyCallback = function () {
                    c.DOMReady = !0
                },
            c.supports.everything || (h = function () {
                c.readyCallback()
            }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function () {
                "complete" === b.readyState && c.readyCallback()
            })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.emoji,
        img.wp-smiley {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 0.07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='font-awesome-css'
          href='https://gillion.shufflehound.com/tech/wp-content/plugins/js_composer/assets/lib/bower/font-awesome/css/font-awesome.min.css?ver=5.4.5'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='js_composer_front-css'
          href='https://gillion.shufflehound.com/tech/wp-content/plugins/js_composer/assets/css/js_composer.min.css?ver=5.4.5'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='bootstrap-css'
          href='https://gillion.shufflehound.com/tech/wp-content/themes/gillion/css/plugins/bootstrap.min.css?ver=3.3.4'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='gillion-plugins-css'
          href='https://gillion.shufflehound.com/tech/wp-content/themes/gillion/css/plugins.css?ver=4.9.7'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='gillion-styles-css'
          href='https://gillion.shufflehound.com/tech/wp-content/themes/gillion/style.css?ver=4.9.7' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='gillion-responsive-css'
          href='https://gillion.shufflehound.com/tech/wp-content/themes/gillion/css/responsive.css?ver=4.9.7'
          type='text/css' media='all'/>
    <style id='gillion-responsive-inline-css' type='text/css'></style>
    <link rel='stylesheet' id='gillion-settings-css'
          href='https://cdn.gillion.shufflehound.com/wp-content/uploads/sites/3/gillion-dynamic-styles.css?ver=640433500'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='gillion-fonts-css'
          href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic%7CMontserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&#038;subset=latin'
          type='text/css' media='all'/>
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        messageStyle: "none",
        tex2jax: {preview: "none"}
    });
    MathJax.Hub.Queue(function () {
        /*document.getElementById("hide_page").style.visibility = "";   !!!!!*/
    });
</script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>
    <script type='text/javascript'
            src='https://gillion.shufflehound.com/tech/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript'
            src='https://gillion.shufflehound.com/tech/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript'
            src='https://gillion.shufflehound.com/tech/wp-content/themes/gillion/js/plugins.js?ver=4.9.7'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var gillion_loadmore_posts = {
            "ajax_url": "https:\/\/gillion.shufflehound.com\/tech\/wp-admin\/admin-ajax.php"
        };
        var gillion = {
            "siteurl": "https:\/\/gillion.shufflehound.com\/tech\/",
            "loggedin": "",
            "page_loader": "0",
            "notice": "",
            "header_animation_dropdown_delay": "1000",
            "header_animation_dropdown": "easeOutQuint",
            "header_animation_dropdown_speed": "300",
            "lightbox_opacity": "0.88",
            "lightbox_transition": "elastic",
            "page_numbers_prev": "Previous",
            "page_numbers_next": "Next",
            "rtl_support": "",
            "footer_parallax": "",
            "social_share": "{\"twitter\":true,\"facebook\":true,\"googleplus\":true,\"pinterest\":true,\"messenger\":true}",
            "text_show_all": "Show All"
        };
        /* ]]> */
    </script>
    <script type='text/javascript'
            src='https://gillion.shufflehound.com/tech/wp-content/themes/gillion/js/scripts.js?ver=4.9.7'></script>
    <link rel='https://api.w.org/' href='https://gillion.shufflehound.com/tech/wp-json/'/>
    <link rel="EditURI" type="application/rsd+xml" title="RSD"
          href="https://gillion.shufflehound.com/tech/xmlrpc.php?rsd"/>
    <link rel="wlwmanifest" type="application/wlwmanifest+xml"
          href="https://gillion.shufflehound.com/tech/wp-includes/wlwmanifest.xml"/>
    <meta name="generator" content="WordPress 4.9.7"/>
    <link rel="canonical" href="https://gillion.shufflehound.com/tech/"/>
    <link rel='shortlink' href='https://gillion.shufflehound.com/tech/'/>
    <link rel="alternate" type="application/json+oembed"
          href="https://gillion.shufflehound.com/tech/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fgillion.shufflehound.com%2Ftech%2F"/>
    <link rel="alternate" type="text/xml+oembed"
          href="https://gillion.shufflehound.com/tech/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fgillion.shufflehound.com%2Ftech%2F&#038;format=xml"/>
    <link rel="icon" type="image/png" href="/fav.png"/>
    <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress."/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css"
          href="https://gillion.shufflehound.com/tech/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css"
          media="screen"><![endif]-->
    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1496413634582 {
            margin-top: 30px !important;
            margin-bottom: 80px !important;
        }

        .vc_custom_1496413876832 {
            margin-bottom: 80px !important;
        }

        .vc_custom_1496413855805 {
            margin-bottom: 80px !important;
        }
    </style>
    <noscript>
        <style type="text/css">
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>
</head>

<body class="home page-template page-template-page-blog page-template-page-blog-php page page-id-5 sh-body-header-sticky sh-bookmarks-style_meta sh-carousel-style1 sh-carousel-position-title sh-title-style1 sh-post-categories-style1 sh-review-style1 sh-meta-order-bottom sh-instagram-widget-columns2 sh-categories-position-title sh-media-icon-style1 wpb-js-composer js-comp-ver-5.4.5 vc_responsive">
{% block ziga %}
<div class="sh-header-side">

    <div id="social_counter-2" class="widget_advertise widget-item widget_social_counter">
        <div class="sh-widget-title-styling">
            <h3 class="widget-title">Stay connected</h3>
        </div>

        <div class="sh-widget-connected-list sh-widget-connected-style1">

            <a href="https://www.instagram.com" target="_blank"
               class="sh-widget-connected-item sh-widget-connected-instagram sh-columns">
                <div class="sh-widget-connected-title">
                    <i class="fa fa-instagram"></i>
                    Follow
                </div>
                <div class="sh-widget-connected-count">
                    <span>365</span>
                </div>
            </a>

            <a href="https://www.youtube.com" target="_blank"
               class="sh-widget-connected-item sh-widget-connected-youtube sh-columns">
                <div class="sh-widget-connected-title">
                    <i class="fa fa-youtube-play"></i>
                    Subscribe
                </div>
                <div class="sh-widget-connected-count">
                    <span>256</span>
                </div>
            </a>

        </div>

    </div>
    <div id="posts_slider-4" class="widget_facebook widget-item widget_posts_slider">
        <div class="widget-slide-arrows-container not-slider">
            <div class="sh-widget-title-styling">
                <h3 class="widget-title">Trending News</h3>
            </div>
            <div class="widget-slide-arrows sh-carousel-buttons-styling"></div>
        </div>

        <div class="sh-widget-posts-slider">
            <div class="sh-widget-posts-slider-group">

                <div class="sh-widget-posts-slider-item sh-widget-posts-slider-style1 style4">
                    <a href="https://gillion.shufflehound.com/tech/2017/05/01/tech-you-must-consider-to-buy-in-2017/"
                       class="sh-widget-posts-slider-thumbnail"
                       style="background-image: url( https://cdn.gillion.shufflehound.com/wp-content/uploads/sites/3/2017/05/9-80x80.jpg);"></a>
                    <div class="sh-widget-posts-slider-content">
                        <a href="https://gillion.shufflehound.com/tech/2017/05/01/tech-you-must-consider-to-buy-in-2017/">
                            <h5 class="post-title">
                                Tech You Must Consider To Buy In 2017&nbsp;<span
                                        class="post-read-later post-read-later-guest" href="#login-register"
                                        data-type="add" data-id="507">
                                            <i class="fa fa-bookmark-o"></i>
                                        </span>
                            </h5>
                        </a>
                        <div class="post-meta">

                            <div class="post-meta-content">

                                        <span class="post-auhor-date">
                                            <a href="https://gillion.shufflehound.com/tech/2017/05/01/tech-you-must-consider-to-buy-in-2017/"
                                               class="post-date">
                                                1 year ago
                                            </a>
                                        </span>

                                <span class="post-readtime">
                                            <i class="icon icon-clock"></i>
                                            2 min
                                            <span>read</span>
                                        </span>

                                <span class="desktop-post-read-later">
                                            &nbsp;<span class="post-read-later post-read-later-guest"
                                                        href="#login-register" data-type="add" data-id="507">
                                                <i class="fa fa-bookmark-o"></i>
                                            </span>
                                        </span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
{% endblock %}
<div class="sh-header-side-overlay"></div>

<div id="page-container" class="">
    {% block menu %}
        <header class="primary-mobile">
        <div id="header-mobile" class="sh-header-mobile">
            <div class="sh-header-mobile-navigation">
                <div class="container">
                    <div class="sh-table">
                        <div class="sh-table-cell">

                            <nav id="header-navigation-mobile" class="header-standard-position">
                                <div class="sh-nav-container">
                                    <ul class="sh-nav">
                                        <li>
                                            <div class="sh-hamburger-menu sh-nav-dropdown">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </nav>

                        </div>
                        <div class="sh-table-cell sh-header-logo-container">

                            <div class="header-logo">
                                <a href="https://gillion.shufflehound.com/tech/"
                                   class="header-logo-container sh-table-small">
                                    <div class="sh-table-cell">

                                        <img class="sh-standard-logo"
                                             src="//gillion.shufflehound.com/tech/wp-content/uploads/sites/3/2017/06/logo.png"
                                             alt="Gillion Theme Tech Demo"/>
                                        <img class="sh-sticky-logo"
                                             src="//gillion.shufflehound.com/tech/wp-content/uploads/sites/3/2017/06/logo.png"
                                             alt="Gillion Theme Tech Demo"/>
                                        <img class="sh-light-logo"
                                             src="//gillion.shufflehound.com/tech/wp-content/uploads/sites/3/2017/06/logo.png"
                                             alt="Gillion Theme Tech Demo"/>

                                    </div>
                                </a>
                            </div>

                        </div>
                        <div class="sh-table-cell">

                            <nav class="header-standard-position">
                                <div class="sh-nav-container">
                                    <ul class="sh-nav">

                                        <li class="menu-item menu-item-has-children sh-nav-readmore sh-nav-special">
                                            <a href="#">
                                                <div>
                                                    <i class="ti-bookmark"></i>
                                                    <span class="sh-read-later-total">0</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
            <nav class="sh-header-mobile-dropdown">
                <div class="container sh-nav-container">
                    <ul class="sh-nav-mobile"></ul>
                </div>

                <div class="container sh-nav-container">
                    <div class="header-mobile-social-media">
                        <a href="https://www.facebook.com/people/@/shufflehound" target="_blank"
                           class="social-media-facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://twitter.com/TheShufflehound" target="_blank" class="social-media-twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <div class="sh-clear"></div>
                    </div>
                </div>

                <div class="header-mobile-search">
                    <div class="container sh-nav-container">
                        <form role="search" method="get" class="header-mobile-form"
                              action="https://gillion.shufflehound.com/tech/">
                            <input class="header-mobile-form-input" type="text" placeholder="Search here.." value=""
                                   name="s" required="required"/>
                            <button type="submit" class="header-mobile-form-submit">
                                <i class="icon-magnifier"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>
        <header class="primary-desktop">

        <div class="sh-header-height sh-header-4">
            <div class="sh-header-middle">
                <div class="container sh-header-additional">
                    <div class="sh-table">
                        <div class="sh-table-cell sh-header-meta1-container">
                            <nav class="header-standard-position">
                                <div class="sh-nav-container">
                                    <ul class="sh-nav">

                                        <li class="menu-item sh-nav-search sh-nav-special">
                                            <a href="#">
                                                <i class="icon icon-magnifier"></i>
                                            </a>
                                        </li>
                                        <li class="menu-item menu-item-has-children sh-nav-share sh-nav-special">
                                            <a href="#">
                                                <div>
                                                    <i class="icon icon-share"></i>
                                                </div>
                                            </a>
                                            <ul class="sub-menu sh-nav-share-ul">
                                                <li class="sh-share-item sh-share-item-facebook menu-item">
                                                    <a href="https://www.facebook.com/people/@/shufflehound"
                                                       target="_blank">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li class="sh-share-item sh-share-item-twitter menu-item">
                                                    <a href="https://twitter.com/TheShufflehound" target="_blank">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="sh-table-cell sh-header-logo-container">

                            <nav class="header-standard-position">
                                <div class="sh-nav-container">
                                    <ul class="sh-nav sh-nav-left">
                                        <li>
                                            <div class="header-logo">
                                                <a href="https://gillion.shufflehound.com/tech/"
                                                   class="header-logo-container sh-table-small">
                                                    <div class="sh-table-cell">

                                                        <img class="sh-standard-logo"
                                                             src="//gillion.shufflehound.com/tech/wp-content/uploads/sites/3/2017/06/logo.png"
                                                             alt="Gillion Theme Tech Demo"/>
                                                        <img class="sh-sticky-logo"
                                                             src="//gillion.shufflehound.com/tech/wp-content/uploads/sites/3/2017/06/logo.png"
                                                             alt="Gillion Theme Tech Demo"/>
                                                        <img class="sh-light-logo"
                                                             src="//gillion.shufflehound.com/tech/wp-content/uploads/sites/3/2017/06/logo.png"
                                                             alt="Gillion Theme Tech Demo"/>

                                                    </div>
                                                </a>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </nav>

                        </div>
                        <div class="sh-table-cell sh-header-meta2-container">
                            <nav class="header-standard-position">
                                <div class="sh-nav-container">
                                    <ul class="sh-nav">

                                        <li class="menu-item sh-nav-menu sh-nav-special">
                                            <a href="#">
                                                <i class="icon-energy sh-nav-menu-icon-closed"
                                                   data-attr-closed="icon-energy" data-attr-opened="ti-close"></i>
                                            </a>
                                        </li>
                                        <li class="menu-item menu-item-has-children sh-nav-readmore sh-nav-special">
                                            <a href="#">
                                                <div>
                                                    <i class="ti-bookmark"></i>
                                                    <span class="sh-read-later-total">0</span>
                                                </div>
                                            </a>
                                            <ul class="sub-menu sh-read-later-list sh-read-later-list-init">
                                                <li class="sh-read-later-item menu-item text-center">
                                                    <a href="#">
                                                        Login to add posts to your read later list
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sh-header sh-header-4 sh-sticky-header">
                <div class="container sh-header-standard">

                    <nav id="header-navigation" class="header-standard-position">
                        <div class="sh-nav-container">
                            <ul id="menu-header" class="sh-nav">
                                <li id="menu-item-515"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-515">
                                    <a href="/hello/">Home</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-1000"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1000">
                                            <a href="/hello/">Gillion Showcase</a>
                                        </li>
                                        <li id="menu-item-991"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-991">
                                            <a href="https://gillion.shufflehound.com/">Carousel Slider</a>
                                        </li>
                                        <li id="menu-item-989"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-989">
                                            <a href="https://gillion.shufflehound.com/home/boxed-slider/">Boxed
                                                Slider</a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-517"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-517">
                                    <a href="#">Features</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-944"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-944">
                                            <a href="https://gillion.shufflehound.com/post-content-gallery/">Content
                                                Gallery</a>
                                        </li>
                                        <li id="menu-item-879"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-879">
                                            <a href="https://gillion.shufflehound.com/typography/">Typography</a>
                                        </li>
                                        <li id="menu-item-902"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-902">
                                            <a href="#">Headers</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-903"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-903">
                                                    <a href="https://gillion.shufflehound.com/home/full-width-slider/?header=header-1">Header
                                                        1</a>
                                                </li>
                                                <li id="menu-item-904"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-904">
                                                    <a href="https://gillion.shufflehound.com/home/full-width-slider/?header=header-2">Header
                                                        2</a>
                                                </li>
                                                <li id="menu-item-905"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-905">
                                                    <a href="https://gillion.shufflehound.com/home/full-width-slider/?header=header-3">Header
                                                        3</a>
                                                </li>
                                                <li id="menu-item-906"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-906">
                                                    <a href="https://gillion.shufflehound.com/home/full-width-slider/?header=header-4">Header
                                                        4</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </nav>

                </div>
                <div class="sh-header-search-side">
                    <div class="sh-header-search-side-container">

                        <form method="get" class="sh-header-search-form"
                              action="https://gillion.shufflehound.com/tech/">
                            <input type="text" value="" name="s" class="sh-header-search-side-input"
                                   placeholder="Enter a keyword to search..."/>
                            <div class="sh-header-search-side-close">
                                <i class="ti-close"></i>
                            </div>
                            <div class="sh-header-search-side-icon">
                                <i class="ti-search"></i>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}
    <div id="wrapper" class="layout-sidebar-right">
        <div class="sh-pagebuilder-content">
            <div style="clear:both;"></div>
        </div>
        {% block content %}
        <div class="content-container sh-page-layout-default">
            <div class="container entry-content">
                <div id="content-wrapper">
                    <div id="content" class="blog-page-list sh-pagination-left">
                        <div class="sh-group blog-list blog-style-left blog-dividing-line-on">
                            {% for article in articles %}
                                {{ include('index/article-1.html.twig') }}
                            {% endfor %}
                        </div>
                        {% block pagination %}
                        <div class="sh-pagination sh-default-color">
                            <ul class="page-numbers">
                                <li>
                                    <span aria-current="page" class="page-numbers current">1</span>
                                </li>
                                <li>
                                    <a class="page-numbers"
                                       href="https://gillion.shufflehound.com/blog-style/left-style/page/2/">
                                        2</a>
                                </li>
                                <li>
                                    <a class="page-numbers"
                                       href="https://gillion.shufflehound.com/blog-style/left-style/page/3/">
                                        3</a>
                                </li>
                                <li>
                                    <a class="page-numbers"
                                       href="https://gillion.shufflehound.com/blog-style/left-style/page/4/">
                                        4</a>
                                </li>
                                <li>
                                    <a class="next page-numbers"
                                       href="https://gillion.shufflehound.com/blog-style/left-style/page/2/">
                                        Next</a>
                                </li>
                            </ul>
                        </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

        {% block footer %}
        <div class="sh-copyrights sh-copyrights-align-left2">
            <div class="container container-padding">
                <div class="sh-table">
                    <div class="sh-table-cell">
                        <div class="sh-copyrights-logo">
                            <img src="//gillion.shufflehound.com/tech/wp-content/uploads/sites/3/2017/06/logo_footer.png"
                                 class="sh-copyrights-image" alt=""/>
                        </div>
                    </div>
                    <div class="sh-table-cell">
                        <div class="sh-copyrights-info">
                                    <span class="developer-copyrights">WordPress Theme built by
                                        <a href="http://shufflehound.com" target="blank">
                                            <strong>Shufflehound</strong>.</a>
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
    <div class="sh-back-to-top sh-back-to-top1">
        <i class="fa fa-angle-up"></i>
    </div>

</div>

<script>
    (function () {
        function addEventListener(element, event, handler) {
            if (element.addEventListener) {
                element.addEventListener(event, handler, false);
            } else if (element.attachEvent) {
                element.attachEvent('on' + event, handler);
            }
        }

        function maybePrefixUrlField() {
            if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
                this.value = "http://" + this.value;
            }
        }

        var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
        if (urlFields && urlFields.length > 0) {
            for (var j = 0; j < urlFields.length; j++) {
                addEventListener(urlFields[j], 'blur', maybePrefixUrlField);
            }
        }
        /* test if browser supports date fields */
        var testInput = document.createElement('input');
        testInput.setAttribute('type', 'date');
        if (testInput.type !== 'date') {

            /* add placeholder & pattern to all date fields */
            var dateFields = document.querySelectorAll('.mc4wp-form input[type="date"]');
            for (var i = 0; i < dateFields.length; i++) {
                if (!dateFields[i].placeholder) {
                    dateFields[i].placeholder = 'YYYY-MM-DD';
                }
                if (!dateFields[i].pattern) {
                    dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
                }
            }
        }

    })();
</script>
<script type='text/javascript'
        src='https://gillion.shufflehound.com/tech/wp-includes/js/jquery/ui/effect.min.js?ver=1.11.4'></script>
<script type='text/javascript'
        src='https://gillion.shufflehound.com/tech/wp-content/themes/gillion/js/plugins/bootstrap.min.js?ver=3.3.4'></script>
<script type='text/javascript'
        src='https://gillion.shufflehound.com/tech/wp-includes/js/wp-embed.min.js?ver=4.9.7'></script>
<script type='text/javascript'
        src='https://gillion.shufflehound.com/tech/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=5.4.5'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var mc4wp_forms_config = [];
    /* ]]> */
</script>
<script type='text/javascript'
        src='https://gillion.shufflehound.com/tech/wp-content/plugins/mailchimp-for-wp/assets/js/forms-api.min.js?ver=4.2.3'></script>
<!--[if lte IE 9]>
<script type='text/javascript'
        src='https://gillion.shufflehound.com/tech/wp-content/plugins/mailchimp-for-wp/assets/js/third-party/placeholders.min.js?ver=4.2.3'></script>
<![endif]-->

<style>
    body.admin-bar {
        top: 32px;
    }

    body.admin-bar .sh-side-demos {
        padding-top: 32px;
    }

    .sh-side-demos-intro h2.welcome-title {
        color: #5b5b5b;
        margin-bottom: 15px;
        font-weight: 300;
        font-size: 40px;
        max-width: 200px;
        line-height: 100% !important;
    }

    .sh-side-demos-intro h2.welcome-title strong {
        font-weight: 900;
    }
</style>

<style>
    .new-item {
        right: 1px !important;
    }

    .sh-header-mobile-navigation .c-hamburger {
        top: -1px !important;
    }

    #chatra.chatra--pos-right.chatra--style-round:not(.chatra--expanded) {
        right: 25px;
        bottom: 25px;
    }

    .sh-back-to-top {
        bottom: 110px;
        right: 35px;
    }

    @media (max-width: 800px) {
        #chatra.chatra--pos-right.chatra--style-round:not(.chatra--expanded) {
            right: 10px;
        }

        .sh-back-to-top {
            right: 15px;
        }
    }
</style>
<!-- Chatra {literal} -->
<script>
    jQuery(document).ready(function ($) {

        jQuery('.form-submit #submit').on('click', function (event) {
            alert('This feature is disabled in our demo site. Sorry for any inconvenience.');
            event.preventDefault()
            event.stopPropagation()
            return false;
        });

        /* Add showcase link */
        $('.primary-desktop .header-logo-container, .primary-mobile .header-logo-container').attr('href', '//gillion.shufflehound.com/hello/');

        /* Add to nav */

        $('.menu-item-515 ul.sub-menu').append('<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-lifestyle"><a href="/lifestyle/">Lifestyle</a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-tech"><a href="/tech/">Tech</a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-foodie"><a href="/foodie/">Foodie</a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-personal"><a href="/personal/">Personal</a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-clean"><a href="/clean/">Clean</a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-fashion"><a href="/fashion/">Fashion</a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-travel"><a href="/travel/">Travel</a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-gizmo-news"><a href="/gizmo-news/">Gizmo News</a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-shop1"><a href="/shop1/">Shop</a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-magazine"><a href="/magazine/">Magazine</a></li>');

        $('.menu-item-515').addClass('current-menu-ancestor').addClass('current-menu-parent');
        $('.menu-item-tech').addClass('current_page_item').addClass('current-menu-item');
        $('.menu-item-719, .menu-item-991').removeClass('current_page_item').removeClass('current-menu-item');
    });
</script>
<!-- Google Analytics -->
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        "use strict";
    });
</script>
</body>

</html>